@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Ir para Listagem de <a asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a>.</p>
</div>
